<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flip.mapper.AuthorityMapper"> <!--namespace要和接口的全类名保持一致-->
    <select id="loadRoleAuthoritiesByRid" resultType="String">
        SELECT a.authorities
        FROM authority AS a
            JOIN role_authority AS r_a
                ON a.aid = r_a.aid
                       AND r_a.rid = #{rid}
    </select>
</mapper>